@charset "UTF-8";
.shop_List{
	display: flex;
	margin-top: 15px;
}
.filter{
	height: 1300px;
	width: 20%;
	background-color: rgba(0,0,0,0.08);
	margin-right: 20px;
	border-radius: 10px;
	
}

.filter_top{
	display: flex;
	margin-bottom: -10px; 
	
}
.filter_top button{
	width: 100px;
	height: 30px;
	margin-top: 10px;
}
.filter_top button:active{
	border: solid 1px rgba(0,0,0,0.5);
	border-radius: 10px;
}

.filter_top h3{
	margin-left: 20px;
}

.filter_top button{
	font-size: 10pt;
	margin-left: 30px;
	border: none;
	background-color: transparent;
}


.price_range{
	position: relative;
	width: 90%;
	max-width: 500px;
	margin-bottom: 10px;
	margin-left: 10px;
	
}

.price_range h4{
	margin-left: 10px;
}

.slider{
	position: relative;
	z-index: 1;
	height: 10px;
	margin: 0 15px;
}
.slider > .track{
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #6200ee;
}

.silder > .thumb{
	position: absolute;
	z-index: 3;
	width: 30px;
	height: 30px;
	background-color: #6200ee;
	border-radius: 50%;
}

.slider > .tumb.left{
	left: 25%;
	transform: translate(15px,-10px);
} 
.slider > .thumb.right{
	right: 25%;
	transform: translate(15px, -10px);
}

input[type="range"]{
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}

input[type="range"]::-webkit-slider-thumb{
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
	background-color: red;
	cursor: pointer;
	-webkit-appearance: none;
}

.price_input{
	display: flex;
	margin-left: 15px;
}

.price_input input{
	width: 60px;
	margin-right: 5px;
	margin-left: 5px;
}

.apoint_option{
	margin-left: 20px;
}


.star {
	margin-left: 20px;
}

.theme {
	margin-left: 20px;
}
.grade{
	margin-left: 20px;
}
.additional_facilities{
	margin-left: 20px;
}


.filter hr{
	width: 90%;
	margin-top: 20px;
}
.list_page{
	width: 80%;
}
.list_top{
	display: flex;
	margin-top: -5px;
}
.list_top ul{
   display: flex;
   list-style: none;
   text-align: right;
}
.list_top img{
	margin-left: -20px;
	margin-right: 5px;
	width: 30px;
	height: 30px;
}
.sort:hover{
	font-weight: bold;
}
.list_main{
	margin-top: -10px;
}

.region_name{
	font-size: 15pt;
	font-weight: bold;
}

.space{
	margin-left: 350px;
}

.page_number{
	text-align: center;
}

.list_div{
	display: flex;
}

.list_div img{
	width: 250px;
	height: 180px;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 10px;
}
.list_cont{
	margin-left: 15px;
	margin-top: -5px;
}
.list_cont p{
	font-size:10pt;
}
.list_cont2{
	margin-left: 170px;
	position: inherit;
	margin-top: -15px;
}

.list_cont button{
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: none;
}

.shop_JJim{
	display: flex;
}
.shop_JJim button{
	width: 40px;
	height: 40px;
	border: none;
	background-color: transparent;
}
.shop_JJim img{
	margin-top: 5px;
	margin-left: 0px;
	width: 23px;
	height: 23px;
	display: flex;
}
.separator {
   margin-right: 4px;
   margin-left: 4px;
}

#yes{
	display: none;
}

#yes2{
	display: none;
}



